@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.itemTitle {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.25rem;
  margin-top: 10px;
}

.itemOrigin {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  font-size: 1.25rem;
}

.itemImage {
  margin: 0 auto;
}

.voteCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  transition: width 2s, height 2s, background-color 2s, rotate 2s;
  padding: 1rem;
  max-width: 300px;
  width: 200px;

  @media (max-width: 1024px) {
    width: 100%;
    flex-direction: row;
  }
}

.voteCardDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1.25rem;
}

.voteButton {
  background-color: #b84000;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  border-color: #b84000;
  border-style: none;
  width: 100%;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

@media (prefers-color-scheme: light) {
  .voteCard:hover {
    background-color: #d18d18;
  }
}

@media (prefers-color-scheme: dark) {
  .voteButton {
    color: white;
  }
  .voteButton:hover {
    color: white;
  }
  .voteCard:hover {
    background-color: rgb(199, 191, 191);
    border: 1px solid rgb(221, 243, 170);
    border-radius: 5px;
    color: black;
  }
}
